<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JAVA_PROJECT/src/strings_and_arrays/FindIndexInput.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="strings_and_arrays.FindIndexInput"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JAVA_PROJECT"/>
</launchConfiguration>
